* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #323232;
  border: none;
}

body {
  background-image: url('../assets/background.jpg');
  background-size: cover;
  /* background-position-y: -200px;    Caso queira reposicionar a imagem*/
}

/* borda de seleção no input*/
textarea:focus, input:focus{
  outline: none;
}

a, label {
  font-size: .8rem;
}

a:hover {
  color: #08558B;
}

/* container login */
#login-container {
  background-color: #FFFFFF;
  width: 400px;
  margin: 0 auto;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}

